# script version

In [21]:
%%writefile ../../scripts/data_and_eval_preparation/data_and_eval_preparation.py
import pandas as pd
import numpy as np
import sys
import os
from tqdm import tqdm
import requests
import datetime
import gspread
from google.oauth2 import service_account
from google.auth.transport.requests import AuthorizedSession
# custom imports
sys.path.append(os.path.join(os.path.expanduser('~'), 'projects'))
import j_utils.munging as mg
import lendingclub.user_creds.account_info as acc_info
import lendingclub.scripts.investing.investing_utils as investing_utils

# set paths
ppath = os.path.join(os.path.expanduser('~'), 'projects', 'lendingclub', )
dpath = os.path.join(ppath,'data')

# load in dataframes
loan_info = pd.read_feather(os.path.join(dpath, 'loan_info.fth'))
pmt_hist = pd.read_feather(os.path.join(dpath, 'clean_pmt_history_3.fth'))
strings = pd.read_feather(os.path.join(dpath, 'strings_loan_info_df.fth'))
strings = strings[strings['id'].isin(loan_info['id'])]

# sort rows by loan_id (and date)
loan_info.sort_values('id', inplace=True)
pmt_hist.sort_values(['loan_id', 'date'], inplace=True)
strings.sort_values('id', inplace=True)

# rename loan_id to id to match what comes through API
pmt_hist.rename({'loan_id': 'id'}, axis=1, inplace = True)

# check how fields come in through API _______________________________________
# constants and setup for various accounts and APIs
now = datetime.datetime.now()
token = acc_info.token
inv_acc_id = acc_info.investor_id
portfolio_id = acc_info.portfolio_id
my_gmail_account = acc_info.from_email_throwaway
my_gmail_password = acc_info.password_throwaway+'!@'
my_recipients = acc_info.to_emails_throwaway
invest_ss_key = acc_info.invest_ss_key
investins_ss_key = acc_info.investins_ss_key
header = {
    'Authorization': token,
    'Content-Type': 'application/json',
    'X-LC-LISTING-VERSION': '1.3'
}
acc_summary_url = 'https://api.lendingclub.com/api/investor/v1/accounts/' + \
    str(inv_acc_id) + '/summary'
order_url = 'https://api.lendingclub.com/api/investor/v1/accounts/' + \
    str(inv_acc_id) + '/orders'
creds = service_account.Credentials.from_service_account_file(os.path.join(ppath, 'user_creds', 'credentials.json'))
scope = ['https://spreadsheets.google.com/feeds']
creds = creds.with_scopes(scope)
gc = gspread.Client(auth=creds)
gc.session = AuthorizedSession(creds)
sheet = gc.open_by_key(invest_ss_key).sheet1
sheetins = gc.open_by_key(investins_ss_key).sheet1

# get the loans and process the dataframe
_, all_loan_count = investing_utils.get_loans_and_ids(
    header, exclude_already=False)
api_loans, api_ids = investing_utils.get_loans_and_ids(
    header, exclude_already=True)

# checking the fields from csv vs API
api_flds = set(api_loans.columns)
licsv_flds = set(loan_info.columns)
common_flds = api_flds.intersection(licsv_flds)
api_flds_not_in_licsv = api_flds.difference(licsv_flds)
licsv_flds_not_in_api = licsv_flds.difference(api_flds)

# rename some loan_info fields to match those coming through api
licsv_to_api_rename_dict = {
    'acc_open_past_24mths':'acc_open_past_24_mths',
    'zip_code': 'addr_zip',
    'delinq_2yrs': 'delinq_2_yrs',
    'funded_amnt': 'funded_amount',
    'il_util': 'i_l_util',
    'inq_last_6mths': 'inq_last_6_mths',
#     'installment_at_funded': 'installment',
    'verification_status': 'is_inc_v',
    'verification_status_joint': 'is_inc_v_joint',
    'loan_amnt': 'loan_amount',
    'num_accts_ever_120_pd': 'num_accts_ever_12_0_ppd',
    'num_tl_120dpd_2m': 'num_tl_12_0dpd_2m',
    'sec_app_inq_last_6mths': 'sec_app_inq_last_6_mths',
}
loan_info.rename(licsv_to_api_rename_dict, axis=1, inplace=True)

# save this version of loan info
loan_info.reset_index(drop=True, inplace=True)
loan_info.to_feather(os.path.join(dpath, 'loan_info_api_name_matched.fth'))

# split loan info into dataframes for training off of and evaluating__________
eval_flds = ['end_d', 'issue_d', 'maturity_paid', 'maturity_time', 'maturity_time_stat_adj', 'maturity_paid_stat_adj', 'rem_to_be_paid', 'roi_simple',
             'target_loose', 'target_strict', 'loan_status', 'id']
strb_flds = ['desc', 'emp_title', 'id']
base_loan_info = loan_info[list(common_flds)]
eval_loan_info = loan_info[eval_flds]
str_loan_info = strings[strb_flds]

# save
base_loan_info.to_feather(os.path.join(dpath, 'base_loan_info.fth'))
eval_loan_info.to_feather(os.path.join(dpath, 'eval_loan_info.fth'))
str_loan_info.reset_index(drop=True, inplace=True)
str_loan_info.to_feather(os.path.join(dpath, 'str_loan_info.fth'))

# make a version of pmt_history where each loan is scaled to be equal size____
pmt_hist = pmt_hist[pmt_hist['id'].isin(loan_info['id'])]
loan_funded_amts = loan_info.set_index('id')['funded_amount'].to_dict()
loan_dollar_cols = [
    'outs_princp_beg',
    'princp_paid',
    'int_paid',
    'fee_paid',
    'amt_due',
    'amt_paid',
    'outs_princp_end',
    'charged_off_amt',
    'monthly_pmt',
    'recovs',
    'recov_fees',
    'all_cash_to_inv', ]
id_grouped = pmt_hist.groupby('id', sort=False)
funded_amts = []
for ids, group in tqdm(id_grouped):
    funded_amt = loan_funded_amts[ids]
    funded_amts.extend([funded_amt]*len(group))    
for col in loan_dollar_cols:
    pmt_hist[col] = pmt_hist[col]/funded_amts
    
# save
pmt_hist.reset_index(drop=True, inplace=True)
_, pmt_hist = mg.reduce_memory(pmt_hist)
pmt_hist.to_feather(os.path.join(dpath,'scaled_pmt_hist.fth'))

# make npv_rois (using various discount rates and actual/known cashflows)_____
interesting_cols_over_time = [
    'outs_princp_beg',
    'all_cash_to_inv',
    'date',
    'fico_last',
    'm_on_books',
    'status_period_end',
    'id',
]
pmt_hist = pmt_hist[interesting_cols_over_time]
npv_roi_holder = {}
disc_rates = np.arange(.05,.36,.01)
id_grouped = pmt_hist.groupby('id')
for ids, group in tqdm(id_grouped):
    npv_roi_dict = {}
    funded = group.iat[0,0]
    cfs = [-funded] + group['all_cash_to_inv'].tolist()
    for rate in disc_rates:
        npv_roi_dict[rate] = np.npv(rate/12, cfs)/funded
    npv_roi_holder[ids] = npv_roi_dict
    
npv_roi_df = pd.DataFrame(npv_roi_holder).T
npv_roi_df.columns = npv_roi_df.columns.values.round(2)
npv_roi_df.index.name = 'id'
npv_roi_df.reset_index(inplace=True)

eval_loan_info = pd.merge(eval_loan_info, npv_roi_df, how='left', on='id')
# some current loans I have no target_strict for and were not in pmt history.
# Fill with negatives on npv_roi.
eval_loan_info['target_strict'] = eval_loan_info['target_strict'].fillna(0)
eval_loan_info.fillna(-1, inplace=True)

# save
# feather must have string column names
eval_loan_info.columns = [str(col) for col in eval_loan_info.columns]
eval_loan_info.to_feather(os.path.join(dpath, 'eval_loan_info.fth'))

Overwriting ../../scripts/data_and_eval_preparation/data_and_eval_preparation.py

# notebook version

In [1]:
# this is run right after clean_loan_info

In [10]:
pd.options.display.max_columns = 999
pd.options.display.max_rows = 60
pd.options.display.max_seq_items = None

In [1]:
import sys
import os
# from tqdm import tqdm
sys.path.append(os.path.join(os.path.expanduser('~'), 'projects'))
import j_utils.munging as mg

ppath = os.path.join(os.path.expanduser('~'), 'projects', 'lendingclub', )
dpath = os.path.join(ppath,'data')

In [8]:
loan_info = pd.read_feather(os.path.join(dpath, 'loan_info.fth'))
pmt_hist = pd.read_feather(os.path.join(dpath, 'clean_pmt_history_3.fth'))
strings = pd.read_feather(os.path.join(dpath, 'strings_loan_info_df.fth'))
strings = strings[strings['id'].isin(loan_info['id'])]

In [10]:
loan_info.sort_values('id', inplace=True)
pmt_hist.sort_values(['loan_id', 'date'], inplace=True)
strings.sort_values('id', inplace=True)

In [11]:
# rename loan_id to id to match what comes through API
# loan_info.rename({'loan_id': 'id'}, axis=1, inplace=True)
pmt_hist.rename({'loan_id': 'id'}, axis=1, inplace = True)
# strings.rename({'loan_id': 'id'}, axis=1, inplace = True)

In [12]:
print('loan_info shape: {0}\n pmt_hist shape: {1}\n strings shape: {2}'.format(loan_info.shape, pmt_hist.shape, strings.shape))

loan_info shape: (2376196, 160)
 pmt_hist shape: (46314254, 40)
 strings shape: (2376196, 5)

# rename fields to match what comes through api, save

In [13]:
# sys.path.append('/home/justin/lendingclub/investing/')

In [7]:
import requests
# import json
import lendingclub.user_creds.account_info as acc_info
# import re
# from sklearn.externals import joblib
# import lendingclub.dataprep_and_modeling.modeling_utils.data_prep_new as data_prep
import lendingclub.scripts.investing.investing_utils as investing_utils
# from lendingclub.scripts.investing.investing_utils import StandardScalerJustin
# import pandas as pd
# import numpy as np
# import math as math
# import torch
# import pickle as pickle
import datetime
# import smtplib
import gspread
# import google.auth
from google.oauth2 import service_account
from google.auth.transport.requests import AuthorizedSession


# constants and setup for various accounts and APIs
now = datetime.datetime.now()
token = acc_info.token
inv_acc_id = acc_info.investor_id
portfolio_id = acc_info.portfolio_id
my_gmail_account = acc_info.from_email_throwaway
my_gmail_password = acc_info.password_throwaway+'!@'
my_recipients = acc_info.to_emails_throwaway
invest_ss_key = acc_info.invest_ss_key
investins_ss_key = acc_info.investins_ss_key

header = {
    'Authorization': token,
    'Content-Type': 'application/json',
    'X-LC-LISTING-VERSION': '1.3'
}

acc_summary_url = 'https://api.lendingclub.com/api/investor/v1/accounts/' + \
    str(inv_acc_id) + '/summary'
order_url = 'https://api.lendingclub.com/api/investor/v1/accounts/' + \
    str(inv_acc_id) + '/orders'
# min_score = -0.02  # -0.04599714276994965  # -0.035764345824470828
# inv_amt = 25.00
# cash_limit = 0.00
creds = service_account.Credentials.from_service_account_file(os.path.join(ppath, 'user_creds', 'credentials.json'))
scope = ['https://spreadsheets.google.com/feeds']
creds = creds.with_scopes(scope)
gc = gspread.Client(auth=creds)
gc.session = AuthorizedSession(creds)
sheet = gc.open_by_key(invest_ss_key).sheet1
sheetins = gc.open_by_key(investins_ss_key).sheet1

# # First check if I have enough money that I want to invest. min 10 notes so 250
# summary_dict = json.loads(requests.get(
#     acc_summary_url, headers=header).content)
# cash_to_invest = summary_dict['availableCash']

# Load models and things for models
# RF
# rf = investing_utils.load_RF()
# with open(f'{investing_utils.data_save_path}/for_proc_df_model_loading.pkl', 'rb') as handle:
#     nas_all_train, embeddings_all_train, train_cols_meds_all_train, use_cols, cols_all_train, col_cat_dict, mean_stdev_mapper_all_train, dl_df_train, dl_ys_train, cat_vars, emb_szs = pickle.load(handle)
    
# process the dataframe before I'm able to set up the neural net _____________
# wait until it is time to do the api call. I'm rate limited to 1 call a second
# investing_utils.pause_until_time(test=True)

# get the loans and process the dataframe
_, all_loan_count = investing_utils.get_loans_and_ids(
    header, exclude_already=False)
api_loans, api_ids = investing_utils.get_loans_and_ids(
    header, exclude_already=True)

In [46]:
api_flds = set(api_loans.columns)
licsv_flds = set(loan_info.columns)
common_flds = api_flds.intersection(licsv_flds)
api_flds_not_in_licsv = api_flds.difference(licsv_flds)
licsv_flds_not_in_api = licsv_flds.difference(api_flds)

In [49]:
# api_flds_not_in_licsv
# licsv_flds_not_in_api
# api_loans[['service_fee_rate']]
# loan_info['loan']

In [50]:
licsv_to_api_rename_dict = {
    'acc_open_past_24mths':'acc_open_past_24_mths',
    'zip_code': 'addr_zip',
    'delinq_2yrs': 'delinq_2_yrs',
    'funded_amnt': 'funded_amount',
    'il_util': 'i_l_util',
    'inq_last_6mths': 'inq_last_6_mths',
#     'installment_at_funded': 'installment',
    'verification_status': 'is_inc_v',
    'verification_status_joint': 'is_inc_v_joint',
    'loan_amnt': 'loan_amount',
    'num_accts_ever_120_pd': 'num_accts_ever_12_0_ppd',
    'num_tl_120dpd_2m': 'num_tl_12_0dpd_2m',
    'sec_app_inq_last_6mths': 'sec_app_inq_last_6_mths',
}

In [53]:
os.path.join(dpath, 'loan_info_api_name_matched.fth')

'/home/justin/projects/lendingclub/data/loan_info_api_name_matched.fth'

In [54]:
# rename loan_info columns to match api columns
loan_info.rename(licsv_to_api_rename_dict, axis=1, inplace=True)
# save renamed loan_info
# loan_info['id'] = loan_info['id'].astype(int)
loan_info.reset_index(drop=True, inplace=True)
loan_info.to_feather(os.path.join(dpath, 'loan_info_api_name_matched.fth'))

# Cut loan_info to api fields

In [55]:
api_flds = set(api_loans.columns)
licsv_flds = set(loan_info.columns)
common_flds = api_flds.intersection(licsv_flds)
api_flds_not_in_licsv = api_flds.difference(licsv_flds)
licsv_flds_not_in_api = licsv_flds.difference(api_flds)

In [56]:
eval_flds = ['end_d', 'issue_d', 'maturity_paid', 'maturity_time', 'maturity_time_stat_adj', 'maturity_paid_stat_adj', 'rem_to_be_paid', 'roi_simple',
             'target_loose', 'target_strict', 'loan_status', 'id']
strb_flds = ['desc', 'emp_title', 'id']

In [57]:
base_loan_info = loan_info[list(common_flds)]#+['id']
eval_loan_info = loan_info[eval_flds]#+['id']
str_loan_info = strings[strb_flds]#+['id']

In [63]:
print(base_loan_info.shape, eval_loan_info.shape, str_loan_info.shape)
base_loan_info.select_dtypes('object')

(2376196, 102) (2376196, 12) (2376196, 3)

,purpose,home_ownership,grade,addr_state,application_type,sub_grade,addr_zip,is_inc_v_joint,is_inc_v,initial_list_status,emp_length
0,debt_consolidation,rent,B,CA,individual,B4,941xx,None,platform,f,< 1 year
1,debt_consolidation,rent,F,IL,individual,F2,600xx,None,none,f,< 1 year
2,debt_consolidation,rent,E,WA,individual,E4,984xx,None,none,w,< 1 year
3,credit_card,rent,B,NY,individual,B5,112xx,None,none,f,< 1 year
4,home_improvement,mortgage,A,NE,individual,A2,686xx,None,none,w,10+ years
5,debt_consolidation,mortgage,F,CA,individual,F2,956xx,None,platform,f,10+ years
6,debt_consolidation,mortgage,B,MO,individual,B3,658xx,None,source,w,10+ years
7,debt_consolidation,rent,D,NY,individual,D3,100xx,None,platform,f,1 year
8,debt_consolidation,own,C,TX,individual,C2,777xx,None,none,f,10+ years
9,debt_consolidation,rent,C,CT,individual,C3,067xx,None,none,f,6 years
10,debt_consolidation,rent,D,RI,individual,D4,028xx,None,source,f,9 years
11,debt_consolidation,rent,B,CA,individual,B3,921xx,None,none,f,3 years
12,credit_card,mortgage,C,TX,individual,C5,775xx,None,none,f,3 years
13,credit_card,mortgage,A,TX,individual,A5,775xx,None,none,f,< 1 year
14,debt_consolidation,rent,D,MD,individual,D2,208xx,None,none,f,1 year
15,debt_consolidation,rent,B,MA,individual,B1,021xx,None,none,f,5 years
16,debt_consolidation,rent,D,TX,individual,D5,770xx,None,none,f,7 years
17,educational,rent,F,SC,individual,F3,294xx,None,platform,f,1 year
18,debt_consolidation,mortgage,E,OH,individual,E3,454xx,None,none,f,< 1 year
19,debt_consolidation,rent,D,ME,individual,D4,049xx,None,source,w,2 years
20,home_improvement,mortgage,A,IL,individual,A3,629xx,None,none,w,5 years
21,car,mortgage,B,MI,individual,B1,481xx,None,none,f,< 1 year
22,debt_consolidation,rent,E,NY,individual,E3,144xx,None,platform,f,3 years
23,home_improvement,mortgage,C,CA,individual,C2,912xx,None,none,f,10+ years
24,debt_consolidation,mortgage,A,MA,individual,A5,019xx,None,source,w,10+ years
25,debt_consolidation,mortgage,D,MO,individual,D4,630xx,None,none,f,8 years
26,debt_consolidation,rent,B,KY,individual,B5,402xx,None,none,f,3 years
27,debt_consolidation,mortgage,C,MS,individual,C4,386xx,None,none,f,10+ years
28,debt_consolidation,rent,B,CA,individual,B4,926xx,None,none,f,< 1 year
29,debt_consolidation,mortgage,D,KS,individual,D3,662xx,None,none,f,3 years
...,...,...,...,...,...,...,...,...,...,...,...
2376166,debt_consolidation,mortgage,C,MI,individual,C2,494xx,None,source,w,5 years
2376167,debt_consolidation,rent,B,NY,individual,B4,104xx,None,none,w,5 years
2376168,debt_consolidation,mortgage,C,GA,individual,C2,300xx,None,none,w,10+ years
2376169,credit_card,mortgage,A,IN,individual,A5,471xx,None,none,w,4 years
2376170,credit_card,mortgage,B,GA,individual,B4,306xx,None,none,w,None
2376171,debt_consolidation,mortgage,A,OH,individual,A5,430xx,None,none,w,< 1 year
2376172,credit_card,rent,C,FL,individual,C3,333xx,None,platform,w,10+ years
2376173,debt_consolidation,mortgage,C,AL,individual,C5,350xx,None,source,w,10+ years
2376174,other,own,D,AR,individual,D2,724xx,None,none,w,10+ years
2376175,credit_card,mortgage,A,PA,individual,A4,190xx,None,none,w,1 year
2376176,debt_consolidation,rent,B,FL,individual,B5,329xx,None,source,w,9 years
2376177,debt_consolidation,rent,C,MO,individual,C5,633xx,None,source,w,5 years
2376178,debt_consolidation,rent,C,NY,individual,C1,127xx,None,none,w,10+ years
2376179,debt_consolidation,mortgage,C,OH,individual,C4,436xx,None,none,w,4 years
2376180,debt_consolidation,mortgage,B,NY,joint app,B5,103xx,none,source,w,10+ years
2376181,debt_consolidation,rent,D,PA,individual,D2,190xx,None,source,w,10+ years
2376182,debt_consolidation,rent,B,FL,individual,B4,337xx,None,source,w,< 1 year
2376183,debt_consolidation,rent,A,TX,individual,A3,782xx,None,none,f,10+ years
2376184,car,rent,C,TX,individual,C4,765xx,None,source,f,3 years
2376185,debt_consolidation,rent,C,GA,individual,C5,300xx,None,source,w,3 years
2376186,small_business,mortgage,B,TN,individual,B3,371xx,None,source,f,10+ years
2376187,debt_consolidation,mortgage,C,FL,individual,C2,334xx,None,none,w,< 1 year
2376188,credit_card,mortgage,C,CA,individual,C2,956xx,None,none,w,10+ years
2376189,debt_consolidation,rent,D,NY,individual,D2,114xx,None,source,w,3 years
2376190,debt_consolidation,mortgage,C,FL,individual,C2,327xx,None,source,w,10+ years
2376191,credit_card,mortgage,A,NC,individual,A1,284xx,None,none,w,10+ years
2376192,debt_consolidation,rent,D,OH,individual,D5,430xx,None,none,w,8 years
2376193,car,own,A,MO,individual,A5,637xx,None,none,w,10+ years
2376194,credit_card,rent,A,AZ,individual,A3,857xx,None,none,w,8 years
2376195,medical,mortgage,C,MA,individual,C1,025xx,None,none,w,< 1 year

In [74]:
# save
base_loan_info.to_feather(os.path.join(dpath, 'base_loan_info.fth'))
eval_loan_info.to_feather(os.path.join(dpath, 'eval_loan_info.fth'))
str_loan_info.reset_index(drop=True, inplace=True)
str_loan_info.to_feather(os.path.join(dpath, 'str_loan_info.fth'))

# scale pmt_hist to be independent of loan_size (so we can treat loans as us investing the same amount in each)

In [20]:
pmt_hist = pmt_hist[pmt_hist['id'].isin(loan_info['id'])]
loan_funded_amts = loan_info.set_index('id')['funded_amount'].to_dict()
loan_dollar_cols = [
    'outs_princp_beg',
    'princp_paid',
    'int_paid',
    'fee_paid',
    'amt_due',
    'amt_paid',
    'outs_princp_end',
    'charged_off_amt',
    'monthly_pmt',
    'recovs',
    'recov_fees',
    'all_cash_to_inv', ]
id_grouped = pmt_hist.groupby('id', sort=False)
funded_amts = []
for ids, group in tqdm(id_grouped):
    funded_amt = loan_funded_amts[ids]
    funded_amts.extend([funded_amt]*len(group))    
for col in loan_dollar_cols:
    pmt_hist[col] = pmt_hist[col]/funded_amts

KeyError: 'id'

In [87]:
pmt_hist.reset_index(drop=True, inplace=True)
_, pmt_hist = mg.reduce_memory(pmt_hist)
pmt_hist.to_feather(os.path.join(dpath,'scaled_pmt_hist.fth'))

# make npv_rois and add to eval_loan_info

In [16]:
interesting_cols_over_time = [
    'outs_princp_beg',
    'all_cash_to_inv',
    'date',
    'fico_last',
    'm_on_books',
    'status_period_end',
    'id',
]
# pmt_hist = pmt_hist[interesting_cols_over_time]

In [17]:
pmt_hist.head()

,pmt_date,status_period_end,date,issue_d,addr_state,home_ownership,first_credit_line,emp_len,grade,vintage,loan_id,outs_princp_beg,princp_paid,int_paid,fee_paid,amt_due,amt_paid,outs_princp_end,m_on_books,charged_off_this_month,charged_off_amt,int_rate,monthly_pmt,dti,m_income,open_credit_lines,total_credit_lines,revol_credit_bal,revol_line_util,dq_24m,m_since_dq,public_recs,m_since_rec,current_policy,term,fico_apply,fico_last,recovs,recov_fees,all_cash_to_inv
0,2009-09-01,current,2009-09-01,2009-08-01,CA,rent,1994-02-01,< 1 year,B,09Q3,54734,25000.000000,581.297974,247.802002,0.0,829.099976,829.099976,24418.701172,1,0.0,0.0,0.119,829.099976,19.48,7083.333008,10.0,42.0,28854.0,0.521,0.0,NaN,0.0,NaN,1,36,737,757,0.0,0.0,829.099976
1,2009-10-01,current,2009-10-01,2009-08-01,CA,rent,1994-02-01,< 1 year,B,09Q3,54734,24418.701172,587.059998,242.039993,0.0,829.099976,829.099976,23831.642578,2,0.0,0.0,0.119,829.099976,19.48,7083.333008,10.0,42.0,28854.0,0.521,0.0,NaN,0.0,NaN,1,36,737,757,0.0,0.0,829.099976
2,2009-11-01,current,2009-11-01,2009-08-01,CA,rent,1994-02-01,< 1 year,B,09Q3,54734,23831.642578,592.879028,236.220993,0.0,829.099976,829.099976,23238.763672,3,0.0,0.0,0.119,829.099976,19.48,7083.333008,10.0,42.0,28854.0,0.521,0.0,NaN,0.0,NaN,1,36,737,787,0.0,0.0,829.099976
3,2009-12-01,current,2009-12-01,2009-08-01,CA,rent,1994-02-01,< 1 year,B,09Q3,54734,23238.763672,598.755005,230.345001,0.0,829.099976,829.099976,22640.007812,4,0.0,0.0,0.119,829.099976,19.48,7083.333008,10.0,42.0,28854.0,0.521,0.0,NaN,0.0,NaN,1,36,737,782,0.0,0.0,829.099976
4,2010-01-01,current,2010-01-01,2009-08-01,CA,rent,1994-02-01,< 1 year,B,09Q3,54734,22640.007812,604.690002,224.410004,0.0,829.099976,829.099976,22035.318359,5,0.0,0.0,0.119,829.099976,19.48,7083.333008,10.0,42.0,28854.0,0.521,0.0,NaN,0.0,NaN,1,36,737,802,0.0,0.0,829.099976

In [19]:
pmt_hist[interesting_cols_over_time[:-1] + ['loan_id']].head()

,outs_princp_beg,all_cash_to_inv,date,fico_last,m_on_books,status_period_end,loan_id
0,25000.000000,829.099976,2009-09-01,757,1,current,54734
1,24418.701172,829.099976,2009-10-01,757,2,current,54734
2,23831.642578,829.099976,2009-11-01,787,3,current,54734
3,23238.763672,829.099976,2009-12-01,782,4,current,54734
4,22640.007812,829.099976,2010-01-01,802,5,current,54734

In [91]:
npv_roi_holder = {}
disc_rates = np.arange(.05,.36,.01)
id_grouped = pmt_hist.groupby('id')
for ids, group in tqdm(id_grouped):
    npv_roi_dict = {}
    funded = group.iat[0,0]
    cfs = [-funded] + group['all_cash_to_inv'].tolist()
    for rate in disc_rates:
        npv_roi_dict[rate] = np.npv(rate/12, cfs)/funded
    npv_roi_holder[ids] = npv_roi_dict

Exception in thread Thread-7:
Traceback (most recent call last):
  File "/home/justin/anaconda3/lib/python3.6/threading.py", line 916, in _bootstrap_inner
    self.run()
  File "/home/justin/anaconda3/lib/python3.6/site-packages/tqdm/_tqdm.py", line 109, in run
    if instance.miniters > 1 and \
AttributeError: 'tqdm' object has no attribute 'miniters'

100%|| 2375427/2375427 [23:57<00:00, 1652.82it/s]

In [92]:
npv_roi_df = pd.DataFrame(npv_roi_holder).T
npv_roi_df.columns = npv_roi_df.columns.values.round(2)
npv_roi_df.index.name = 'id'
npv_roi_df.reset_index(inplace=True)

In [95]:
npv_roi_df.head()

,id,0.05,0.06,0.07,0.08,0.09,0.1,0.11,0.12,0.13,0.14,0.15,0.16,0.17,0.18,0.19,0.2,0.21,0.22,0.23,0.24,0.25,0.26,0.27,0.28,0.29,0.3,0.31,0.32,0.33,0.34,0.35
0,54734,0.095902,0.081254,0.066865,0.052729,0.038841,0.025198,0.011792,-0.001379,-0.014321,-0.027038,-0.039534,-0.051815,-0.063884,-0.075745,-0.087403,-0.098861,-0.110124,-0.121195,-0.132078,-0.142776,-0.153294,-0.163634,-0.173800,-0.183796,-0.193624,-0.203289,-0.212792,-0.222138,-0.231329,-0.240368,-0.249259
1,55521,0.137690,0.124301,0.111112,0.098121,0.085324,0.072718,0.060299,0.048065,0.036013,0.024139,0.012441,0.000915,-0.010441,-0.021630,-0.032654,-0.043517,-0.054222,-0.064770,-0.075164,-0.085407,-0.095501,-0.105449,-0.115253,-0.124916,-0.134439,-0.143825,-0.153077,-0.162196,-0.171184,-0.180044,-0.188778
2,55716,0.274963,0.259472,0.244227,0.229225,0.214461,0.199930,0.185629,0.171554,0.157699,0.144063,0.130640,0.117426,0.104419,0.091615,0.079009,0.066600,0.054382,0.042352,0.030509,0.018847,0.007364,-0.003943,-0.015077,-0.026041,-0.036838,-0.047472,-0.057944,-0.068258,-0.078416,-0.088421,-0.098276
3,55742,0.087770,0.071643,0.055847,0.040373,0.025214,0.010362,-0.004190,-0.018448,-0.032420,-0.046112,-0.059532,-0.072685,-0.085577,-0.098215,-0.110604,-0.122751,-0.134660,-0.146337,-0.157788,-0.169018,-0.180031,-0.190833,-0.201429,-0.211822,-0.222018,-0.232022,-0.241836,-0.251467,-0.260917,-0.270191,-0.279292
4,56121,-0.385032,-0.390533,-0.395965,-0.401330,-0.406627,-0.411859,-0.417025,-0.422128,-0.427167,-0.432145,-0.437061,-0.441916,-0.446713,-0.451450,-0.456130,-0.460753,-0.465320,-0.469831,-0.474288,-0.478691,-0.483042,-0.487340,-0.491586,-0.495782,-0.499928,-0.504025,-0.508072,-0.512072,-0.516025,-0.519931,-0.523792

In [96]:
eval_loan_info = pd.merge(eval_loan_info, npv_roi_df, how='left', on='id')

In [100]:
eval_loan_info[eval_loan_info.isnull().any(axis=1)]

,end_d,issue_d,maturity_paid,maturity_time,maturity_time_stat_adj,maturity_paid_stat_adj,rem_to_be_paid,roi_simple,target_loose,target_strict,loan_status,id,0.05,0.06,0.07,0.08,0.09,0.1,0.11,0.12,0.13,0.14,0.15,0.16,0.17,0.18,0.19,0.2,0.21,0.22,0.23,0.24,0.25,0.26,0.27,0.28,0.29,0.3,0.31,0.32,0.33,0.34,0.35
2321832,2019-06-01,2019-03-01,0.015912,0.050000,0.050000,0.015912,17437.458984,0.023497,0,NaN,current,147517293,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2329180,2019-06-01,2019-03-01,0.016042,0.050000,0.050000,0.016042,27534.074219,0.022445,0,NaN,current,147737645,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2331281,2019-06-01,2019-03-01,0.015631,0.050000,0.050000,0.015631,15923.068359,0.021070,0,NaN,current,147799950,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2331409,2019-06-01,2019-03-01,0.027190,0.083333,0.083333,0.027190,39881.394531,0.031849,0,NaN,current,147803760,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2339531,2019-06-01,2019-03-01,0.015680,0.050000,0.050000,0.015680,51547.484375,0.020528,0,NaN,current,148055668,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2340579,2019-06-01,2019-03-01,0.027040,0.083333,0.083333,0.027040,28502.775391,0.033006,0,NaN,current,148091169,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2340610,2019-06-01,2019-03-01,0.027014,0.083333,0.083333,0.027014,8132.881348,0.030107,0,NaN,current,148092249,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2342722,2019-06-01,2019-03-01,0.015593,0.050000,0.050000,0.015593,33253.031250,0.021070,0,NaN,current,148161869,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2342772,2019-06-01,2019-03-01,0.016080,0.050000,0.050000,0.016080,26627.806641,0.021759,0,NaN,current,148163168,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2342963,2019-06-01,2019-03-01,0.015832,0.050000,0.050000,0.015832,36372.023438,0.024379,0,NaN,current,148167281,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2343047,2019-06-01,2019-03-01,0.027363,0.083333,0.083333,0.027363,8734.253906,0.030715,0,NaN,current,148169445,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2343509,2019-06-01,2019-03-01,0.016264,0.050000,0.050000,0.016264,15657.358398,0.019912,0,NaN,current,148182639,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2343537,2019-06-01,2019-03-01,0.026472,0.083333,0.083333,0.026472,41547.738281,0.032279,0,NaN,current,148183737,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2343754,2019-06-01,2019-03-01,0.027097,0.083333,0.083333,0.027097,9129.283203,0.029914,0,NaN,current,148197817,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2343849,2019-06-01,2019-03-01,0.026862,0.083333,0.083333,0.026862,18717.154297,0.034444,0,NaN,current,148201382,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2344448,2019-06-01,2019-03-01,0.026768,0.083333,0.083333,0.026768,19661.878906,0.036053,0,NaN,current,148224394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2345203,2019-06-01,2019-03-01,0.026652,0.083333,0.083333,0.026652,41775.343750,0.031775,0,NaN,current,148252446,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2345431,2019-06-01,2019-03-01,0.016155,0.050000,0.050000,0.016155,38067.949219,0.020836,0,NaN,current,148259486,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2345910,2019-06-01,2019-03-01,0.026954,0.083333,0.083333,0.026954,11015.815430,0.030515,0,NaN,current,148273130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2346714,2019-06-01,2019-03-01,0.027247,0.083333,0.083333,0.027247,16720.068359,0.031223,0,NaN,current,148301473,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2347160,2019-06-01,2019-03-01,0.026682,0.083333,0.083333,0.026682,5520.000000,0.031525,0,NaN,current,148319535,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2347176,2019-06-01,2019-03-01,0.016127,0.050000,0.050000,0.016127,41271.882812,0.021140,0,NaN,current,148319826,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2347752,2019-06-01,2019-03-01,0.026554,0.083333,0.083333,0.026554,5679.905273,0.032279,0,NaN,current,148342392,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2348323,2019-06-01,2019-03-01,0.027317,0.083333,0.083333,0.027317,7719.237305,0.030970,0,NaN,current,148365116,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2348475,2019-06-01,2019-03-01,0.015921,0.050000,0.050000,0.015921,48108.203125,0.019458,0,NaN,current,148371642,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2348783,2019-06-01,2019-03-01,0.026846,0.083333,0.083333,0.026846,12485.565430,0.034444,0,NaN,current,148381555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2348971,2019-06-01,2019-03-01,0.027282,0.083333,0.083333,0.027282,8833.576172,0.030970,0,NaN,current,148388946,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2348973,2019-06-01,2019-03-01,0.015693,0.050000,0.050000,0.015693,38628.726562,0.020528,0,NaN,current,148389116,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2349459,2019-06-01,2019-03-01,0.026548,0.083333,0.083333,0.026548,27280.550781,0.037200,0,NaN,current,148410422,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2349580,2019-06-01,2019-03-01,0.027302,0.083333,0.083333,0.027302,12357.306641,0.030969,0,NaN,current,148415935,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2375751,2019-06-01,2019-03-01,0.015770,0.050000,0.050000,0.015770,31615.314453,0.020262,0,NaN,current,149473674,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2375753,2019-06-01,2019-03-01,0.015686,0.050000,0.050000,0.015686,32203.988281,0.020528,0,NaN,current,149474103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2375758,2019-06-01,2019-03-01,0.015729,0.050000,0.050000,0.015729,50718.871094,0.020262,0,NaN,current,149474282,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2375774,2019-06-01,2019-03-01,0.027118,0.083333,0.083333,0.027118,16097.461914,0.029913,0,NaN,current,149474948,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2375829,2019-06-01,2019-03-01,0.025809,0.083333,0.083333,0.025809,22335.482422,0.036982,0,NaN,current,149479129,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2375864,2019-06-01,2019-03-01,0.025950,0.083333,0.083333,0.025950,43180.617188,0.035950,0,NaN,current,149482162,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2375899,2019-06-01,2019-03-01,0.026913,0.083333,0.083333,0.026913,22223.423828,0.030733,0,NaN,current,149484125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2375902,2019-06-01,2019-03-01,0.026251,0.083333,0.083333,0.026251,10041.119141,0.033838,0,NaN,current,149484204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2375911,2019-06-01,2019-03-01,0.015589,0.050000,0.050000,0.015589,15834.436523,0.021341,0,NaN,current,149486316,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2375913,2019-06-01,2019-03-01,0.026969,0.083333,0.083333,0.026969,5504.977539,0.030516,0,NaN,current,149486423,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2375927,2019-06-01,2019-03-01,0.026913,0.083333,0.083333,0.026913,16549.900391,0.030515,0,NaN,current,149487415,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2375928,2019-06-01,2019-03-01,0.026702,0.083333,0.083333,0.026702,5745.750488,0.031526,0,NaN,current,149487422,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2375931,2019-06-01,2019-03-01,0.015881,0.050000,0.050000,0.015881,13655.383789,0.019458,0,NaN,current,149487635,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2375933,2019-06-01,2019-03-01,0.026891,0.083333,0.083333,0.026891,22242.525391,0.030733,0,NaN,current,149488225,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2375941,2019-06-01,2019-03-01,0.026403,0.083333,0.083333,0.026403,6066.321289,0.032902,0,NaN,current,149488863,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2375946,2019-06-01,2019-03-01,0.026324,0.083333,0.083333,0.026324,21377.275391,0.033216,0,NaN,current,149489274,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2376015,2019-06-01,2019-03-01,0.026831,0.083333,0.083333,0.026831,26752.156250,0.030733,0,NaN,current,149494881,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2376027,2019-06-01,2019-03-01,0.027017,0.083333,0.083333,0.027017,1084.366943,0.030110,0,NaN,current,149496249,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2376046,2019-06-01,2019-03-01,0.014947,0.050000,0.050000,0.014947,16742.339844,0.025404,0,NaN,current,149500026,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2376108,2019-06-01,2019-03-01,0.026308,0.083333,0.083333,0.026308,8936.091797,0.033533,0,NaN,current,149511096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2376113,2019-06-01,2019-03-01,0.027048,0.083333,0.083333,0.027048,25990.630859,0.030106,0,NaN,current,149511802,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2376115,2019-06-01,2019-03-01,0.026224,0.083333,0.083333,0.026224,23434.527344,0.033215,0,NaN,current,149512127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2376116,2019-06-01,2019-03-01,0.015416,0.050000,0.050000,0.015416,21756.191406,0.022709,0,NaN,current,149512147,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2376121,2019-06-01,2019-03-01,0.026975,0.083333,0.083333,0.026975,16510.671875,0.030515,0,NaN,current,149512610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2376124,2019-06-01,2019-03-01,0.015581,0.050000,0.050000,0.015581,52348.878906,0.021341,0,NaN,current,149512813,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2376128,2019-06-01,2019-03-01,0.015429,0.050000,0.050000,0.015429,25991.097656,0.022016,0,NaN,current,149513446,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2376154,2019-06-01,2019-03-01,0.026913,0.083333,0.083333,0.026913,13334.045898,0.030733,0,NaN,current,149517006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2376163,2019-06-01,2019-03-01,0.015219,0.050000,0.050000,0.015219,37694.781250,0.024272,0,NaN,current,149518361,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2376174,2019-06-01,2019-03-01,0.025869,0.083333,0.083333,0.025869,7894.884277,0.034943,0,NaN,current,149519456,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2376183,2019-06-01,2019-03-01,0.027032,0.083333,0.083333,0.027032,2726.143555,0.030296,0,NaN,current,149520583,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [101]:
# some current loans I have no target_strict for and were not in pmt history. Fill with
# negatives on npv_roi.
eval_loan_info['target_strict'] = eval_loan_info['target_strict'].fillna(0)
eval_loan_info.fillna(-1, inplace=True)

In [102]:
# feather must have string column names
eval_loan_info.columns = [str(col) for col in eval_loan_info.columns]
eval_loan_info.to_feather(os.path.join(dpath, 'eval_loan_info.fth'))