# Script version

In [1]:
# read pmt_hist in
dpath = os.path.join(os.path.expanduser('~'), 'projects', 'lendingclub', 'data')
pmt_hist = pd.read_feather(os.path.join(dpath, 'raw_pmt_hist_1.fth'))
print("{:,}".format(len(pmt_hist)) + " rows of pmt_hist loaded")

In [3]:
# throw away unneccessary columns
pmt_hist[pmt_hist['LOAN_ID'] == 54734]

,RECEIVED_D,PERIOD_END_LSTAT,MONTH,IssuedDate,State,HomeOwnership,EarliestCREDITLine,Inquiries6M,PublicRec,EmploymentLength,...,TotalCREDITLines,RevolvingCREDITBalance,RevolvingLineUtilization,DQ2yrs,MonthsSinceDQ,MonthsSinceLastRec,currentpolicy,term,PCO_RECOVERY,PCO_COLLECTION_FEE
0,SEP2009,Current,SEP2009,AUG2009,CA,RENT,FEB1994,0,0,< 1 year,...,42.0,28854,0.521,0.0,NaN,NaN,1,36,NaN,NaN
1,OCT2009,Current,OCT2009,AUG2009,CA,RENT,FEB1994,0,0,< 1 year,...,42.0,28854,0.521,0.0,NaN,NaN,1,36,NaN,NaN
2,NOV2009,Current,NOV2009,AUG2009,CA,RENT,FEB1994,0,0,< 1 year,...,42.0,28854,0.521,0.0,NaN,NaN,1,36,NaN,NaN
3,DEC2009,Current,DEC2009,AUG2009,CA,RENT,FEB1994,0,0,< 1 year,...,42.0,28854,0.521,0.0,NaN,NaN,1,36,NaN,NaN
4,JAN2010,Current,JAN2010,AUG2009,CA,RENT,FEB1994,0,0,< 1 year,...,42.0,28854,0.521,0.0,NaN,NaN,1,36,NaN,NaN
5,FEB2010,Current,FEB2010,AUG2009,CA,RENT,FEB1994,0,0,< 1 year,...,42.0,28854,0.521,0.0,NaN,NaN,1,36,NaN,NaN
6,MAR2010,Current,MAR2010,AUG2009,CA,RENT,FEB1994,0,0,< 1 year,...,42.0,28854,0.521,0.0,NaN,NaN,1,36,NaN,NaN
7,APR2010,Current,APR2010,AUG2009,CA,RENT,FEB1994,0,0,< 1 year,...,42.0,28854,0.521,0.0,NaN,NaN,1,36,NaN,NaN
8,MAY2010,Current,MAY2010,AUG2009,CA,RENT,FEB1994,0,0,< 1 year,...,42.0,28854,0.521,0.0,NaN,NaN,1,36,NaN,NaN
9,JUN2010,Current,JUN2010,AUG2009,CA,RENT,FEB1994,0,0,< 1 year,...,42.0,28854,0.521,0.0,NaN,NaN,1,36,NaN,NaN
10,JUL2010,Current,JUL2010,AUG2009,CA,RENT,FEB1994,0,0,< 1 year,...,42.0,28854,0.521,0.0,NaN,NaN,1,36,NaN,NaN
11,AUG2010,Current,AUG2010,AUG2009,CA,RENT,FEB1994,0,0,< 1 year,...,42.0,28854,0.521,0.0,NaN,NaN,1,36,NaN,NaN
12,SEP2010,Current,SEP2010,AUG2009,CA,RENT,FEB1994,0,0,< 1 year,...,42.0,28854,0.521,0.0,NaN,NaN,1,36,NaN,NaN
13,OCT2010,Current,OCT2010,AUG2009,CA,RENT,FEB1994,0,0,< 1 year,...,42.0,28854,0.521,0.0,NaN,NaN,1,36,NaN,NaN
14,NOV2010,Current,NOV2010,AUG2009,CA,RENT,FEB1994,0,0,< 1 year,...,42.0,28854,0.521,0.0,NaN,NaN,1,36,NaN,NaN
15,DEC2010,Current,DEC2010,AUG2009,CA,RENT,FEB1994,0,0,< 1 year,...,42.0,28854,0.521,0.0,NaN,NaN,1,36,NaN,NaN
16,JAN2011,Current,JAN2011,AUG2009,CA,RENT,FEB1994,0,0,< 1 year,...,42.0,28854,0.521,0.0,NaN,NaN,1,36,NaN,NaN
17,FEB2011,Current,FEB2011,AUG2009,CA,RENT,FEB1994,0,0,< 1 year,...,42.0,28854,0.521,0.0,NaN,NaN,1,36,NaN,NaN
18,MAR2011,Current,MAR2011,AUG2009,CA,RENT,FEB1994,0,0,< 1 year,...,42.0,28854,0.521,0.0,NaN,NaN,1,36,NaN,NaN
19,APR2011,Current,APR2011,AUG2009,CA,RENT,FEB1994,0,0,< 1 year,...,42.0,28854,0.521,0.0,NaN,NaN,1,36,NaN,NaN
20,MAY2011,Current,MAY2011,AUG2009,CA,RENT,FEB1994,0,0,< 1 year,...,42.0,28854,0.521,0.0,NaN,NaN,1,36,NaN,NaN
21,JUN2011,Current,JUN2011,AUG2009,CA,RENT,FEB1994,0,0,< 1 year,...,42.0,28854,0.521,0.0,NaN,NaN,1,36,NaN,NaN
22,JUL2011,Current,JUL2011,AUG2009,CA,RENT,FEB1994,0,0,< 1 year,...,42.0,28854,0.521,0.0,NaN,NaN,1,36,NaN,NaN
23,AUG2011,Current,AUG2011,AUG2009,CA,RENT,FEB1994,0,0,< 1 year,...,42.0,28854,0.521,0.0,NaN,NaN,1,36,NaN,NaN
24,SEP2011,Current,SEP2011,AUG2009,CA,RENT,FEB1994,0,0,< 1 year,...,42.0,28854,0.521,0.0,NaN,NaN,1,36,NaN,NaN
25,OCT2011,Fully Paid,OCT2011,AUG2009,CA,RENT,FEB1994,0,0,< 1 year,...,42.0,28854,0.521,0.0,NaN,NaN,1,36,NaN,NaN

46,325,630 rows of pmt_hist loaded

In [59]:
loan_info = pd.read_feather(os.path.join(dpath, 'raw_loan_info.fth'))

In [67]:
loan_info[loan_info['id'] == 54734][['home_ownership']]

        home_ownership
1948549           RENT

In [66]:
loan_info.home_ownership

0          MORTGAGE
1              RENT
2              RENT
3              RENT
4              RENT
5              RENT
6              RENT
7              RENT
8          MORTGAGE
9               OWN
10              OWN
11         MORTGAGE
12             RENT
13             RENT
14             RENT
15              OWN
16         MORTGAGE
17             RENT
18              OWN
19         MORTGAGE
20             RENT
21         MORTGAGE
22              OWN
23         MORTGAGE
24             RENT
25         MORTGAGE
26             RENT
27             RENT
28         MORTGAGE
29              OWN
             ...
2376313    MORTGAGE
2376314        RENT
2376315    MORTGAGE
2376316    MORTGAGE
2376317        RENT
2376318    MORTGAGE
2376319        RENT
2376320    MORTGAGE
2376321        RENT
2376322        RENT
2376323    MORTGAGE
2376324         OWN
2376325    MORTGAGE
2376326    MORTGAGE
2376327        RENT
2376328        RENT
2376329    MORTGAGE
2376330        RENT
2376331        RENT
2376332        RENT
2376333    MORTGAGE
2376334        RENT
2376335         OWN
2376336        RENT
2376337    MORTGAGE
2376338        RENT
2376339    MORTGAGE
2376340        RENT
2376341        RENT
2376342        RENT
Name: home_ownership, Length: 2376343, dtype: object

In [ ]:
# save
dpath = os.path.join(os.path.expanduser('~'), 'projects', 'lendingclub', 'data')
pmt_hist.to_feather(os.path.join(dpath, 'raw_pmt_hist_1.fth'))

In [57]:
ls ../../scripts/csv_preparation/

__init__.py*  merge_loan_info.py  unzip_csvs.py*

In [53]:
ls {dpath}

csvs/  raw_loan_info.fth  raw_pmt_hist_1.fth

In [51]:
pd.set_option('max_columns', 500)

In [52]:
pmt_hist.head(100)

,RECEIVED_D,PERIOD_END_LSTAT,MONTH,IssuedDate,State,HomeOwnership,EarliestCREDITLine,Inquiries6M,PublicRec,EmploymentLength,grade,APPL_FICO_BAND,Last_FICO_BAND,VINTAGE,LOAN_ID,PBAL_BEG_PERIOD,PRNCP_PAID,INT_PAID,FEE_PAID,DUE_AMT,RECEIVED_AMT,PBAL_END_PERIOD,MOB,CO,COAMT,InterestRate,MONTHLYCONTRACTAMT,dti,MonthlyIncome,OpenCREDITLines,TotalCREDITLines,RevolvingCREDITBalance,RevolvingLineUtilization,DQ2yrs,MonthsSinceDQ,MonthsSinceLastRec,currentpolicy,term,PCO_RECOVERY,PCO_COLLECTION_FEE
0,SEP2009,Current,SEP2009,AUG2009,CA,RENT,FEB1994,0,0,< 1 year,B,735-739,755-759,09Q3,54734,25000.000000,581.297913,247.802078,0.0,829.099976,829.099976,24418.701172,1,0,0.0,0.1189,829.099976,19.48,7083.333496,10.0,42.0,28854,0.521,0.0,NaN,NaN,1,36,NaN,NaN
1,OCT2009,Current,OCT2009,AUG2009,CA,RENT,FEB1994,0,0,< 1 year,B,735-739,755-759,09Q3,54734,24418.701172,587.059814,242.040207,0.0,829.099976,829.099976,23831.642578,2,0,0.0,0.1189,829.099976,19.48,7083.333496,10.0,42.0,28854,0.521,0.0,NaN,NaN,1,36,NaN,NaN
2,NOV2009,Current,NOV2009,AUG2009,CA,RENT,FEB1994,0,0,< 1 year,B,735-739,785-789,09Q3,54734,23831.642578,592.878784,236.221222,0.0,829.099976,829.099976,23238.763672,3,0,0.0,0.1189,829.099976,19.48,7083.333496,10.0,42.0,28854,0.521,0.0,NaN,NaN,1,36,NaN,NaN
3,DEC2009,Current,DEC2009,AUG2009,CA,RENT,FEB1994,0,0,< 1 year,B,735-739,780-784,09Q3,54734,23238.763672,598.755432,230.344559,0.0,829.099976,829.099976,22640.007812,4,0,0.0,0.1189,829.099976,19.48,7083.333496,10.0,42.0,28854,0.521,0.0,NaN,NaN,1,36,NaN,NaN
4,JAN2010,Current,JAN2010,AUG2009,CA,RENT,FEB1994,0,0,< 1 year,B,735-739,800-804,09Q3,54734,22640.007812,604.690369,224.409653,0.0,829.099976,829.099976,22035.318359,5,0,0.0,0.1189,829.099976,19.48,7083.333496,10.0,42.0,28854,0.521,0.0,NaN,NaN,1,36,NaN,NaN
5,FEB2010,Current,FEB2010,AUG2009,CA,RENT,FEB1994,0,0,< 1 year,B,735-739,745-749,09Q3,54734,22035.318359,610.684082,218.415909,0.0,829.099976,829.099976,21424.632812,6,0,0.0,0.1189,829.099976,19.48,7083.333496,10.0,42.0,28854,0.521,0.0,NaN,NaN,1,36,NaN,NaN
6,MAR2010,Current,MAR2010,AUG2009,CA,RENT,FEB1994,0,0,< 1 year,B,735-739,745-749,09Q3,54734,21424.632812,616.737244,212.362747,0.0,829.099976,829.099976,20807.896484,7,0,0.0,0.1189,829.099976,19.48,7083.333496,10.0,42.0,28854,0.521,0.0,NaN,NaN,1,36,NaN,NaN
7,APR2010,Current,APR2010,AUG2009,CA,RENT,FEB1994,0,0,< 1 year,B,735-739,745-749,09Q3,54734,20807.896484,622.850403,206.249603,0.0,829.099976,829.099976,20185.046875,8,0,0.0,0.1189,829.099976,19.48,7083.333496,10.0,42.0,28854,0.521,0.0,NaN,NaN,1,36,NaN,NaN
8,MAY2010,Current,MAY2010,AUG2009,CA,RENT,FEB1994,0,0,< 1 year,B,735-739,745-749,09Q3,54734,20185.046875,629.024170,200.075851,0.0,829.099976,829.099976,19556.021484,9,0,0.0,0.1189,829.099976,19.48,7083.333496,10.0,42.0,28854,0.521,0.0,NaN,NaN,1,36,NaN,NaN
9,JUN2010,Current,JUN2010,AUG2009,CA,RENT,FEB1994,0,0,< 1 year,B,735-739,775-779,09Q3,54734,19556.021484,635.259094,193.840912,0.0,829.099976,829.099976,18920.763672,10,0,0.0,0.1189,829.099976,19.48,7083.333496,10.0,42.0,28854,0.521,0.0,NaN,NaN,1,36,NaN,NaN
10,JUL2010,Current,JUL2010,AUG2009,CA,RENT,FEB1994,0,0,< 1 year,B,735-739,785-789,09Q3,54734,18920.763672,641.555847,187.544174,0.0,829.099976,829.099976,18279.207031,11,0,0.0,0.1189,829.099976,19.48,7083.333496,10.0,42.0,28854,0.521,0.0,NaN,NaN,1,36,NaN,NaN
11,AUG2010,Current,AUG2010,AUG2009,CA,RENT,FEB1994,0,0,< 1 year,B,735-739,775-779,09Q3,54734,18279.207031,647.914978,181.185028,0.0,829.099976,829.099976,17631.291016,12,0,0.0,0.1189,829.099976,19.48,7083.333496,10.0,42.0,28854,0.521,0.0,NaN,NaN,1,36,NaN,NaN
12,SEP2010,Current,SEP2010,AUG2009,CA,RENT,FEB1994,0,0,< 1 year,B,735-739,790-794,09Q3,54734,17631.291016,654.337158,174.762833,0.0,829.099976,829.099976,16976.955078,13,0,0.0,0.1189,829.099976,19.48,7083.333496,10.0,42.0,28854,0.521,0.0,NaN,NaN,1,36,NaN,NaN
13,OCT2010,Current,OCT2010,AUG2009,CA,RENT,FEB1994,0,0,< 1 year,B,735-739,760-764,09Q3,54734,16976.955078,660.822998,168.276993,0.0,829.099976,829.099976,16316.131836,14,0,0.0,0.1189,829.099976,19.48,7083.333496,10.0,42.0,28854,0.521,0.0,NaN,NaN,1,36,NaN,NaN
14,NOV2010,Current,NOV2010,AUG2009,CA,RENT,FEB1994,0,0,< 1 year,B,735-739,755-759,09Q3,54734,16316.131836,667.373169,161.726852,0.0,829.099976,829.099976,15648.758789,15,0,0.0,0.1189,829.099976,19.48,7083.333496,10.0,42.0,28854,0.521,0.0,NaN,NaN,1,36,NaN,NaN
15,DEC2010,Current,DEC2010,AUG2009,CA,RENT,FEB1994,0,0,< 1 year,B,735-739,755-759,09Q3,54734,15648.758789,673.988220,155.111801,0.0,829.099976,829.099976,14974.770508,16,0,0.0,0.1189,829.099976,19.48,7083.333496,10.0,42.0,28854,0.521,0.0,NaN,NaN,1,36,NaN,NaN
16,JAN2011,Current,JAN2011,AUG2009,CA,RENT,FEB1994,0,0,< 1 year,B,735-739,755-759,09Q3,54734,14974.770508,680.668823,148.431168,0.0,829.099976,829.099976,14294.101562,17,0,0.0,0.1189,829.099976,19.48,7083.333496,10.0,42.0,28854,0.521,0.0,NaN,NaN,1,36,NaN,NaN
17,FEB2011,Current,FEB2011,AUG2009,CA,RENT,FEB1994,0,0,< 1 year,B,735-739,775-779,09Q3,54734,14294.101562,1516.515625,141.684326,0.0,829.099976,1658.199951,12777.585938,18,0,0.0,0.1189,829.099976,19.48,7083.333496,10.0,42.0,28854,0.521,0.0,NaN,NaN,1,36,NaN,NaN
18,MAR2011,Current,MAR2011,AUG2009,CA,RENT,FEB1994,0,0,< 1 year,B,735-739,765-769,09Q3,54734,12777.585938,702.447510,126.652496,0.0,829.099976,829.099976,12075.138672,19,0,0.0,0.1189,829.099976,19.48,7083.333496,10.0,42.0,28854,0.521,0.0,NaN,NaN,1,36,NaN,NaN
19,APR2011,Current,APR2011,AUG2009,CA,RENT,FEB1994,0,0,< 1 year,B,735-739,765-769,09Q3,54734,12075.138672,777.890198,119.689781,0.0,829.099976,897.580017,11297.248047,20,0,0.0,0.1189,829.099976,19.48,7083.333496,10.0,42.0,28854,0.521,0.0,NaN,NaN,1,36,NaN,NaN
20,MAY2011,Current,MAY2011,AUG2009,CA,RENT,FEB1994,0,0,< 1 year,B,735-739,790-794,09Q3,54734,11297.248047,785.600708,111.979263,0.0,829.099976,897.580017,10511.647461,21,0,0.0,0.1189,829.099976,19.48,7083.333496,10.0,42.0,28854,0.521,0.0,NaN,NaN,1,36,NaN,NaN
21,JUN2011,Current,JUN2011,AUG2009,CA,RENT,FEB1994,0,0,< 1 year,B,735-739,790-794,09Q3,54734,10511.647461,793.387695,104.192329,0.0,829.099976,897.580017,9718.259766,22,0,0.0,0.1189,829.099976,19.48,7083.333496,10.0,42.0,28854,0.521,0.0,NaN,NaN,1,36,NaN,NaN
22,JUL2011,Current,JUL2011,AUG2009,CA,RENT,FEB1994,0,0,< 1 year,B,735-739,775-779,09Q3,54734,9718.259766,801.251770,96.328201,0.0,829.099976,897.580017,8917.007812,23,0,0.0,0.1189,829.099976,19.48,7083.333496,10.0,42.0,28854,0.521,0.0,NaN,NaN,1,36,NaN,NaN
23,AUG2011,Current,AUG2011,AUG2009,CA,RENT,FEB1994,0,0,< 1 year,B,735-739,775-779,09Q3,54734,8917.007812,809.193848,88.386124,0.0,829.099976,897.580017,8107.813965,24,0,0.0,0.1189,829.099976,19.48,7083.333496,10.0,42.0,28854,0.521,0.0,NaN,NaN,1,36,NaN,NaN
24,SEP2011,Current,SEP2011,AUG2009,CA,RENT,FEB1994,0,0,< 1 year,B,735-739,760-764,09Q3,54734,8107.813965,817.214661,80.365326,0.0,829.099976,897.580017,7290.599609,25,0,0.0,0.1189,829.099976,19.48,7083.333496,10.0,42.0,28854,0.521,0.0,NaN,NaN,1,36,NaN,NaN
25,OCT2011,Fully Paid,OCT2011,AUG2009,CA,RENT,FEB1994,0,0,< 1 year,B,735-739,780-784,09Q3,54734,7290.599609,7290.599609,72.265030,0.0,829.099976,7392.080078,0.000000,26,0,0.0,0.1189,829.099976,19.48,7083.333496,10.0,42.0,28854,0.521,0.0,NaN,NaN,1,36,NaN,NaN
26,AUG2008,Current,AUG2008,JUL2008,IL,RENT,AUG2001,1,0,< 1 year,F,640-644,650-654,08Q3,55521,1000.000000,21.799999,13.400000,0.0,35.200001,35.200001,978.200012,1,0,0.0,0.1608,35.200001,23.84,2500.000000,9.0,15.0,10125,0.904,0.0,NaN,NaN,0,36,NaN,NaN
27,SEP2008,Current,SEP2008,JUL2008,IL,RENT,AUG2001,1,0,< 1 year,F,640-644,625-629,08Q3,55521,978.200012,22.092119,13.107880,0.0,35.200001,35.200001,956.107910,2,0,0.0,0.1608,35.200001,23.84,2500.000000,9.0,15.0,10125,0.904,0.0,NaN,NaN,0,36,NaN,NaN
28,OCT2008,Current,OCT2008,JUL2008,IL,RENT,AUG2001,1,0,< 1 year,F,640-644,615-619,08Q3,55521,956.107910,22.388155,12.811846,0.0,35.200001,35.200001,933.719727,3,0,0.0,0.1608,35.200001,23.84,2500.000000,9.0,15.0,10125,0.904,0.0,NaN,NaN,0,36,NaN,NaN
29,NOV2008,Current,NOV2008,JUL2008,IL,RENT,AUG2001,1,0,< 1 year,F,640-644,615-619,08Q3,55521,933.719727,22.688156,12.511845,0.0,35.200001,35.200001,911.031555,4,0,0.0,0.1608,35.200001,23.84,2500.000000,9.0,15.0,10125,0.904,0.0,NaN,NaN,0,36,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,AUG2008,Current,AUG2008,MAY2008,NY,RENT,OCT2000,0,0,< 1 year,B,705-709,725-729,08Q2,55742,6667.030762,168.716751,59.503250,0.0,228.220001,228.220001,6498.313965,3,0,0.0,0.1071,228.220001,14.29,5416.666504,7.0,7.0,33623,0.767,0.0,NaN,NaN,1,36,NaN,NaN
71,OCT2008,Current,SEP2008,MAY2008,NY,RENT,OCT2000,0,0,< 1 year,B,705-709,680-684,08Q2,55742,6498.313965,170.222549,57.997452,0.0,228.220001,228.220001,6328.091309,4,0,0.0,0.1071,228.220001,14.29,5416.666504,7.0,7.0,33623,0.767,0.0,NaN,NaN,1,36,NaN,NaN
72,OCT2008,Current,OCT2008,MAY2008,NY,RENT,OCT2000,0,0,< 1 year,B,705-709,670-674,08Q2,55742,6328.091309,171.741791,56.478214,0.0,228.220001,228.220001,6156.349609,5,0,0.0,0.1071,228.220001,14.29,5416.666504,7.0,7.0,33623,0.767,0.0,NaN,NaN,1,36,NaN,NaN
73,DEC2008,Current,NOV2008,MAY2008,NY,RENT,OCT2000,0,0,< 1 year,B,705-709,680-684,08Q2,55742,6156.349609,173.274582,54.945419,0.0,228.220001,228.220001,5983.075195,6,0,0.0,0.1071,228.220001,14.29,5416.666504,7.0,7.0,33623,0.767,0.0,NaN,NaN,1,36,NaN,NaN
74,DEC2008,Current,DEC2008,MAY2008,NY,RENT,OCT2000,0,0,< 1 year,B,705-709,700-704,08Q2,55742,5983.075195,174.821060,53.398945,0.0,228.220001,228.220001,5808.253906,7,0,0.0,0.1071,228.220001,14.29,5416.666504,7.0,7.0,33623,0.767,0.0,NaN,NaN,1,36,NaN,NaN
75,JAN2009,Current,JAN2009,MAY2008,NY,RENT,OCT2000,0,0,< 1 year,B,705-709,700-704,08Q2,55742,5808.253906,176.381332,51.838669,0.0,228.220001,228.220001,5631.872559,8,0,0.0,0.1071,228.220001,14.29,5416.666504,7.0,7.0,33623,0.767,0.0,NaN,NaN,1,36,NaN,NaN
76,MAR2009,Current,FEB2009,MAY2008,NY,RENT,OCT2000,0,0,< 1 year,B,705-709,700-704,08Q2,55742,5631.872559,177.955536,50.264465,0.0,228.220001,228.220001,5453.916992,9,0,0.0,0.1071,228.220001,14.29,5416.666504,7.0,7.0,33623,0.767,0.0,NaN,NaN,1,36,NaN,NaN
77,MAR2009,Current,MAR2009,MAY2008,NY,RENT,OCT2000,0,0,< 1 year,B,705-709,690-694,08Q2,55742,5453.916992,179.543793,48.676212,0.0,228.220001,228.220001,5274.373535,10,0,0.0,0.1071,228.220001,14.29,5416.666504,7.0,7.0,33623,0.767,0.0,NaN,NaN,1,36,NaN,NaN
78,APR2009,Current,APR2009,MAY2008,NY,RENT,OCT2000,0,0,< 1 year,B,705-709,690-694,08Q2,55742,5274.373535,181.146225,47.073784,0.0,228.220001,228.220001,5093.227051,11,0,0.0,0.1071,228.220001,14.29,5416.666504,7.0,7.0,33623,0.767,0.0,NaN,NaN,1,36,NaN,NaN
79,MAY2009,Current,MAY2009,MAY2008,NY,RENT,OCT2000,0,0,< 1 year,B,705-709,700-704,08Q2,55742,5093.227051,182.762955,45.457050,0.0,228.220001,228.220001,4910.464355,12,0,0.0,0.1071,228.220001,14.29,5416.666504,7.0,7.0,33623,0.767,0.0,NaN,NaN,1,36,NaN,NaN
80,JUL2009,Current,JUN2009,MAY2008,NY,RENT,OCT2000,0,0,< 1 year,B,705-709,705-709,08Q2,55742,4910.464355,184.394104,43.825893,0.0,228.220001,228.220001,4726.070312,13,0,0.0,0.1071,228.220001,14.29,5416.666504,7.0,7.0,33623,0.767,0.0,NaN,NaN,1,36,NaN,NaN
81,JUL2009,Current,JUL2009,MAY2008,NY,RENT,OCT2000,0,0,< 1 year,B,705-709,680-684,08Q2,55742,4726.070312,186.039825,42.180176,0.0,228.220001,228.220001,4540.030273,14,0,0.0,0.1071,228.220001,14.29,5416.666504,7.0,7.0,33623,0.767,0.0,NaN,NaN,1,36,NaN,NaN
82,SEP2009,Current,AUG2009,MAY2008,NY,RENT,OCT2000,0,0,< 1 year,B,705-709,705-709,08Q2,55742,4540.030273,187.700226,40.519772,0.0,228.220001,228.220001,4352.330078,15,0,0.0,0.1071,228.220001,14.29,5416.666504,7.0,7.0,33623,0.767,0.0,NaN,NaN,1,36,NaN,NaN
83,OCT2009,Current,SEP2009,MAY2008,NY,RENT,OCT2000,0,0,< 1 year,B,705-709,705-709,08Q2,55742,4352.330078,189.375458,38.844547,0.0,228.220001,228.220001,4162.954590,16,0,0.0,0.1071,228.220001,14.29,5416.666504,7.0,7.0,33623,0.767,0.0,NaN,NaN,1,36,NaN,NaN
84,OCT2009,Current,OCT2009,MAY2008,NY,RENT,OCT2000,0,0,< 1 year,B,705-709,680-684,08Q2,55742,4162.954590,191.065628,37.154369,0.0,228.220001,228.220001,3971.888916,17,0,0.0,0.1071,228.220001,14.29,5416.666504,7.0,7.0,33623,0.767,0.0,NaN,NaN,1,36,NaN,NaN
85,DEC2009,Current,NOV2009,MAY2008,NY,RENT,OCT2000,0,0,< 1 year,B,705-709,700-704,08Q2,55742,3971.888916,192.770889,35.449108,0.0,228.220001,228.220001,3779.118164,18,0,0.0,0.1071,228.220001,14.29,5416.666504,7.0,7.0,33623,0.767,0.0,NaN,NaN,1,36,NaN,NaN
86,DEC2009,Current,DEC2009,MAY2008,NY,RENT,OCT2000,0,0,< 1 year,B,705-709,700-704,08Q2,55742,3779.118164,194.491379,33.728630,0.0,228.220001,228.220001,3584.626709,19,0,0.0,0.1071,228.220001,14.29,5416.666504,7.0,7.0,33623,0.767,0.0,NaN,NaN,1,36,NaN,NaN
87,FEB2010,Current,JAN2010,MAY2008,NY,RENT,OCT2000,0,0,< 1 year,B,705-709,700-704,08Q2,55742,3584.626709,196.227203,31.992792,0.0,228.220001,228.220001,3388.399414,20,0,0.0,0.1071,228.220001,14.29,5416.666504,7.0,7.0,33623,0.767,0.0,NaN,NaN,1,36,NaN,NaN
88,MAR2010,Current,FEB2010,MAY2008,NY,RENT,OCT2000,0,0,< 1 year,B,705-709,700-704,08Q2,55742,3388.399414,197.978531,30.241465,0.0,228.220001,228.220001,3190.420898,21,0,0.0,0.1071,228.220001,14.29,5416.666504,7.0,7.0,33623,0.767,0.0,NaN,NaN,1,36,NaN,NaN
89,APR2010,Current,MAR2010,MAY2008,NY,RENT,OCT2000,0,0,< 1 year,B,705-709,700-704,08Q2,55742,3190.420898,199.745499,28.474506,0.0,228.220001,228.220001,2990.675537,22,0,0.0,0.1071,228.220001,14.29,5416.666504,7.0,7.0,33623,0.767,0.0,NaN,NaN,1,36,NaN,NaN
90,APR2010,Current,APR2010,MAY2008,NY,RENT,OCT2000,0,0,< 1 year,B,705-709,705-709,08Q2,55742,2990.675537,201.528229,26.691778,0.0,228.220001,228.220001,2789.147217,23,0,0.0,0.1071,228.220001,14.29,5416.666504,7.0,7.0,33623,0.767,0.0,NaN,NaN,1,36,NaN,NaN
91,JUN2010,Current,MAY2010,MAY2008,NY,RENT,OCT2000,0,0,< 1 year,B,705-709,700-704,08Q2,55742,2789.147217,203.326859,24.893139,0.0,228.220001,228.220001,2585.820312,24,0,0.0,0.1071,228.220001,14.29,5416.666504,7.0,7.0,33623,0.767,0.0,NaN,NaN,1,36,NaN,NaN
92,JUL2010,Current,JUN2010,MAY2008,NY,RENT,OCT2000,0,0,< 1 year,B,705-709,720-724,08Q2,55742,2585.820312,205.141556,23.078447,0.0,228.220001,228.220001,2380.678711,25,0,0.0,0.1071,228.220001,14.29,5416.666504,7.0,7.0,33623,0.767,0.0,NaN,NaN,1,36,NaN,NaN
93,JUL2010,Current,JUL2010,MAY2008,NY,RENT,OCT2000,0,0,< 1 year,B,705-709,720-724,08Q2,55742,2380.678711,206.972443,21.247559,0.0,228.220001,228.220001,2173.706299,26,0,0.0,0.1071,228.220001,14.29,5416.666504,7.0,7.0,33623,0.767,0.0,NaN,NaN,1,36,NaN,NaN
94,SEP2010,Current,AUG2010,MAY2008,NY,RENT,OCT2000,0,0,< 1 year,B,705-709,720-724,08Q2,55742,2173.706299,208.819672,19.400330,0.0,228.220001,228.220001,1964.886719,27,0,0.0,0.1071,228.220001,14.29,5416.666504,7.0,7.0,33623,0.767,0.0,NaN,NaN,1,36,NaN,NaN
95,SEP2010,Current,SEP2010,MAY2008,NY,RENT,OCT2000,0,0,< 1 year,B,705-709,720-724,08Q2,55742,1964.886719,210.683380,17.536613,0.0,228.220001,228.220001,1754.203247,28,0,0.0,0.1071,228.220001,14.29,5416.666504,7.0,7.0,33623,0.767,0.0,NaN,NaN,1,36,NaN,NaN
96,NOV2010,Current,OCT2010,MAY2008,NY,RENT,OCT2000,0,0,< 1 year,B,705-709,725-729,08Q2,55742,1754.203247,212.563736,15.656264,0.0,228.220001,228.220001,1541.639526,29,0,0.0,0.1071,228.220001,14.29,5416.666504,7.0,7.0,33623,0.767,0.0,NaN,NaN,1,36,NaN,NaN
97,DEC2010,Current,NOV2010,MAY2008,NY,RENT,OCT2000,0,0,< 1 year,B,705-709,730-734,08Q2,55742,1541.639526,214.460861,13.759133,0.0,228.220001,228.220001,1327.178711,30,0,0.0,0.1071,228.220001,14.29,5416.666504,7.0,7.0,33623,0.767,0.0,NaN,NaN,1,36,NaN,NaN
98,DEC2010,Current,DEC2010,MAY2008,NY,RENT,OCT2000,0,0,< 1 year,B,705-709,710-714,08Q2,55742,1327.178711,216.374924,11.845070,0.0,228.220001,228.220001,1110.803833,31,0,0.0,0.1071,228.220001,14.29,5416.666504,7.0,7.0,33623,0.767,0.0,NaN,NaN,1,36,NaN,NaN
99,FEB2011,Current,JAN2011,MAY2008,NY,RENT,OCT2000,0,0,< 1 year,B,705-709,750-754,08Q2,55742,1110.803833,218.306076,9.913923,0.0,228.220001,228.220001,892.497681,32,0,0.0,0.1071,228.220001,14.29,5416.666504,7.0,7.0,33623,0.767,0.0,NaN,NaN,1,36,NaN,NaN

In [47]:
ls {dpath}

csvs/  raw_loan_info.fth

In [ ]:


# Set loan ids as strings _____________________________________________________
pmt_hist['LOAN_ID'] = pmt_hist['LOAN_ID'].astype(int)
print('payment history for', len(pmt_hist['LOAN_ID'].unique()), 'different loan ids')

# Round values to 3 decimal places ____________________________________________
pmt_hist = pmt_hist.round(3)

# renaming columns ____________________________________________________________
rename_col_dict = {
    'LOAN_ID': 'loan_id',
    'PBAL_BEG_PERIOD': 'outs_princp_beg',
    'PRNCP_PAID': 'princp_paid',
    'INT_PAID': 'int_paid',
    'FEE_PAID': 'fee_paid',
    'DUE_AMT': 'amt_due',
    'RECEIVED_AMT': 'amt_paid',
    'RECEIVED_D': 'pmt_date',
    'PERIOD_END_LSTAT': 'status_period_end',
    'MONTH': 'date',
    'PBAL_END_PERIOD': 'outs_princp_end',
    'MOB': 'm_on_books',
    'CO': 'charged_off_this_month',
    'COAMT': 'charged_off_amt',
    'InterestRate': 'int_rate',
    'IssuedDate': 'issue_d',
    'MONTHLYCONTRACTAMT': 'monthly_pmt',
    'dti': 'dti',
    'State': 'addr_state',
    'HomeOwnership': 'home_ownership',
    'MonthlyIncome': 'm_income',
    'EarliestCREDITLine': 'first_credit_line',
    'OpenCREDITLines': 'open_credit_lines',
    'TotalCREDITLines': 'total_credit_lines',
    'RevolvingCREDITBalance': 'revol_credit_bal',
    'RevolvingLineUtilization': 'revol_line_util',
    'Inquiries6M': 'inq_6m',
    'DQ2yrs': 'dq_24m',
    'MonthsSinceDQ': 'm_since_dq',
    'PublicRec': 'public_recs',
    'MonthsSinceLastRec': 'm_since_rec',
    'EmploymentLength': 'emp_len',
    'currentpolicy': 'current_policy',
    'grade': 'grade',
    'term': 'term',
    'APPL_FICO_BAND': 'fico_apply',
    'Last_FICO_BAND': 'fico_last',
    'VINTAGE': 'vintage',
    'PCO_RECOVERY': 'recovs',
    'PCO_COLLECTION_FEE': 'recov_fees',
}

pmt_hist.rename(columns=rename_col_dict, inplace=True)

# Working

## Part  1 of cleaning lending club payment history

In [1]:
import dir_constants as dc
from tqdm import tqdm_notebook

In [8]:
csv_path = os.path.join(os.path.expanduser('~'), 'projects', 'lendingclub', 'data', 'csvs', 'lastest_csvs')

In [9]:
csv_path

'/home/justin/projects/lendingclub/data/csvs/lastest_csvs'

In [3]:
# Set some constants __________________________________________________________
platform = 'lendingclub'

# Set data_path _______________________________________________________________
data_path = dc.home_path + '/rsync_dl_rig/unzipped_lc_csvs/'

# Load in pmt_hist_file _______________________________________________________
files = os.listdir(data_path)
# loan_hist_filename = [file_ for file_ in files if file_.startswith('PMTHIST')][0]
# pmt_hist = pd.read_csv(data_path + '{0}'.format(loan_hist_filename), low_memory=False)
pmt_hist = pd.read_csv(PATH, low_memory=False)
print("{:,}".format(len(pmt_hist)) + " rows of pmt_hist loaded")

# Set loan ids as strings _____________________________________________________
pmt_hist['LOAN_ID'] = pmt_hist['LOAN_ID'].astype(int)
print('payment history for', len(pmt_hist['LOAN_ID'].unique()), 'different loan ids')

# Round values to 3 decimal places ____________________________________________
pmt_hist = pmt_hist.round(3)

# renaming columns ____________________________________________________________
rename_col_dict = {
    'LOAN_ID': 'loan_id',
    'PBAL_BEG_PERIOD': 'outs_princp_beg',
    'PRNCP_PAID': 'princp_paid',
    'INT_PAID': 'int_paid',
    'FEE_PAID': 'fee_paid',
    'DUE_AMT': 'amt_due',
    'RECEIVED_AMT': 'amt_paid',
    'RECEIVED_D': 'pmt_date',
    'PERIOD_END_LSTAT': 'status_period_end',
    'MONTH': 'date',
    'PBAL_END_PERIOD': 'outs_princp_end',
    'MOB': 'm_on_books',
    'CO': 'charged_off_this_month',
    'COAMT': 'charged_off_amt',
    'InterestRate': 'int_rate',
    'IssuedDate': 'issue_d',
    'MONTHLYCONTRACTAMT': 'monthly_pmt',
    'dti': 'dti',
    'State': 'addr_state',
    'HomeOwnership': 'home_ownership',
    'MonthlyIncome': 'm_income',
    'EarliestCREDITLine': 'first_credit_line',
    'OpenCREDITLines': 'open_credit_lines',
    'TotalCREDITLines': 'total_credit_lines',
    'RevolvingCREDITBalance': 'revol_credit_bal',
    'RevolvingLineUtilization': 'revol_line_util',
    'Inquiries6M': 'inq_6m',
    'DQ2yrs': 'dq_24m',
    'MonthsSinceDQ': 'm_since_dq',
    'PublicRec': 'public_recs',
    'MonthsSinceLastRec': 'm_since_rec',
    'EmploymentLength': 'emp_len',
    'currentpolicy': 'current_policy',
    'grade': 'grade',
    'term': 'term',
    'APPL_FICO_BAND': 'fico_apply',
    'Last_FICO_BAND': 'fico_last',
    'VINTAGE': 'vintage',
    'PCO_RECOVERY': 'recovs',
    'PCO_COLLECTION_FEE': 'recov_fees',
}

pmt_hist.rename(columns=rename_col_dict, inplace=True)

37,327,674 rows of pmt_hist loaded
payment history for 2003523 different loan ids

# try and reduces memory

In [4]:
import j_utils.munging

In [5]:
changed_cols, pmt_hist = j_utils.munging.compress_memory(pmt_hist)
pmt_hist.info(memory_usage='deep')

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 26/26 [00:13<00:00,  1.87it/s]

changed dtypes of 26 cols
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37327674 entries, 0 to 37327673
Data columns (total 40 columns):
pmt_date                  object
status_period_end         object
date                      object
issue_d                   object
addr_state                object
home_ownership            object
first_credit_line         object
inq_6m                    object
public_recs               object
emp_len                   object
grade                     object
fico_apply                object
fico_last                 object
vintage                   object
amt_due                   float32
amt_paid                  float32
charged_off_amt           float32
charged_off_this_month    int8
current_policy            int8
dq_24m                    float32
dti                       float32
fee_paid                  float32
int_paid                  float32
int_rate                  float32
loan_id                   int32
m_income                  float32
m_on_books                int8
m_since_dq                float32
m_since_rec               float32
monthly_pmt               float32
open_credit_lines         float32
outs_princp_beg           float32
outs_princp_end           float32
princp_paid               float32
recov_fees                float32
recovs                    float32
revol_credit_bal          int32
revol_line_util           float32
term                      int8
total_credit_lines        float32
dtypes: float32(20), int32(2), int8(4), object(14)
memory usage: 34.2 GB

In [6]:
gc.collect()

263

# Parsing and Cleaning

In [7]:
# There are 5 columns dealing with money: princp_paid, int_paid, fee_paid,
# recovs, and recovs_fee. princp_paid + int_paid + fee_paid is sometimes short
# of amt_paid. Be conservative and rewrite amt_paid to be sum of said 3.
# Also make all_cash_to_inv = amt_paid + recovs - recov_fees
# Fee paid is always positive, and by inspection it is money borrower pays out
pmt_hist[
    'amt_paid'] = pmt_hist['princp_paid'] + pmt_hist['int_paid'] + pmt_hist['fee_paid']
pmt_hist['recovs'].fillna(0, inplace=True)
pmt_hist['recov_fees'].fillna(0, inplace=True)
pmt_hist[
    'all_cash_to_inv'] = pmt_hist['amt_paid'] + pmt_hist['recovs'] - pmt_hist['recov_fees']

# turn all date columns into pandas timestamp _________________________________
month_dict = {
    'jan': '1-',
    'feb': '2-',
    'mar': '3-',
    'apr': '4-',
    'may': '5-',
    'jun': '6-',
    'jul': '7-',
    'aug': '8-',
    'sep': '9-',
    'oct': '10-',
    'nov': '11-',
    'dec': '12-'
}

# pmt_date ____________________________________________________________________
pmt_hist['pmt_date'] = pd.to_datetime(
    pmt_hist['pmt_date'].str[:3].str.lower().replace(month_dict) +
    pmt_hist['pmt_date'].str[3:],
    format='%m-%Y')

# date ________________________________________________________________________
pmt_hist['date'] = pd.to_datetime(
    pmt_hist['date'].str[:3].str.lower().replace(month_dict) +
    pmt_hist['date'].str[3:],
    format='%m-%Y')

# issue_d _____________________________________________________________________
pmt_hist['issue_d'] = pd.to_datetime(
    pmt_hist['issue_d'].str[:3].str.lower().replace(month_dict) +
    pmt_hist['issue_d'].str[3:],
    format='%m-%Y')

# first_credit_line ____________________________________________________________
pmt_hist['first_credit_line'] = pd.to_datetime(
    pmt_hist['first_credit_line'].str[:3].str.lower().replace(month_dict) +
    pmt_hist['first_credit_line'].str[3:],
    format='%m-%Y')

# status_period_end ____________________________________________________________
status_fix = {
    'Current': 'current',
    'Late (31-120 days)': 'late_120',
    'Fully Paid': 'paid',
    'Charged Off': 'charged_off',
    'Default': 'defaulted',
    'Late (16-30 days)': 'late_30',
    'In Grace Period': 'grace_15',
    'Issued': 'current'
}
pmt_hist['status_period_end'] = pmt_hist['status_period_end'].replace(
    status_fix)

# home_ownership _______________________________________________________________
home_ownership_fix = {
    'admin_us': 'other',
    'mortgage': 'mortgage',
    'rent': 'rent',
    'own': 'own',
    'other': 'other',
    'none': 'none',
    'any': 'none'
}
pmt_hist['home_ownership'] = pmt_hist['home_ownership'].str.lower().replace(
    home_ownership_fix)

# public_recs __________________________________________________________________
records_fix = {
    '*': 1
}  #leave nan as nan, but * had at least 1 from m_since_record
pmt_hist['public_recs'] = pmt_hist['public_recs'].replace(records_fix).astype(
    float)

# fico_apply __________________________________________________________________
fico_apply_fix = {'850': '850-850'}
pmt_hist['fico_apply'] = pmt_hist['fico_apply'].replace(fico_apply_fix)
pmt_hist['fico_apply'] = (pmt_hist['fico_apply'].str[:3].astype(int) +
                          pmt_hist['fico_apply'].str[4:].astype(int)) / 2
pmt_hist['fico_apply'] = pmt_hist['fico_apply'].astype(int)

# fico_last ___________________________________________________________________
fico_last_fix = {'845-HIGH': '845-849', 'LOW-499': '495-499'}
pmt_hist['fico_last'] = pmt_hist['fico_last'].replace(fico_last_fix)
pmt_hist.ix[pmt_hist['fico_last'] != 'MISSING', 'fico_last'] = (
    pmt_hist.ix[pmt_hist['fico_last'] != 'MISSING', 'fico_last'].str[:3]
    .astype(int) + pmt_hist.ix[pmt_hist['fico_last'] != 'MISSING',
                               'fico_last'].str[4:].astype(int)) / 2
pmt_hist.ix[pmt_hist['fico_last'] == 'MISSING', 'fico_last'] = pmt_hist.ix[
    pmt_hist['fico_last'] == 'MISSING', 'fico_apply']
pmt_hist['fico_last'] = pmt_hist['fico_last'].astype(int)

# revol_credit_bal ____________________________________________________________
pmt_hist['revol_credit_bal'] = pmt_hist['revol_credit_bal'].astype(
    float)

# fix on a few bad rows where I think there is a mistaken amt_paid ____________
pmt_hist.ix[(pmt_hist['pmt_date'].isnull() & pmt_hist['amt_paid'] > 0),
            'amt_paid'] = 0

# There is a problem with the inquiries 6m column. Some are nan values and some
# are marked '*' with no explanation. inq6m should be in loan info so dropping
pmt_hist.drop('inq_6m', axis=1, inplace=True)

# add a column which is numerical of loan_id for later reading from hdfstore
pmt_hist['loan_id_num'] = pmt_hist['loan_id'].astype('int')

/home/justin/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:98: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

In [10]:
# save as feather format
PATH = '/home/justin/all_data/lendingclub/'
pmt_hist.to_feather(f'{PATH}pmt_hist_c1.fth')

# Store part 1 of cleaning

In [11]:
# # store pmt_history in hdfstore _______________________________________________
# store = pd.HDFStore(
#     dc.home_path+'/justin_tinkering/data_science/lendingclub/{0}_store.h5'.
#     format(platform),
#     append=True)

# # Create min_itemsize_dict for allocating size when storing ___________________
# min_itemsize_dict = {}
# for col in pmt_hist.columns:
#     if pmt_hist[col].dtype == np.object:
#         print(col, pmt_hist[col].str.len().max())
#         if col in ['State', 'VINTAGE', 'grade']:
#             pass
#         else:
#             min_itemsize_dict[col] = 15

# total_len = len(pmt_hist)
# chunk_size = 120000 # 120k rows at a time
# chunks = np.ceil(total_len/chunk_size)
# df_chunks = np.array_split(pmt_hist, chunks)

     
# k = 0
# for chunk in tqdm_notebook(df_chunks):
#     if k == 0:
#         store.append(
#             'pmt_hist_intermediary_1',
#             chunk,
#             data_columns=True,
#             index=True,
#             append=False,
#             min_itemsize=min_itemsize_dict)
#         k += 1
#     else:
#         store.append(
#             'pmt_hist_intermediary_1',
#             chunk,
#             data_columns=True,
#             index=True,
#             append=True)            
        
# # store pmt_hist ids        
# pmt_hist_ids = pd.Series(pmt_hist['loan_id'].unique())
# pmt_hist_ids.to_hdf(store, 'pmt_hist_ids', mode='w')        
# print(store.keys())
# print(store)        
# store.close()

# Below was investigating to base my choices above on

In [ ]:
# pmt_hist['unaccounted_rec_pmt_money'] = pmt_hist['amt_paid'] - (
#     pmt_hist['princp_paid'] + pmt_hist['int_paid'] + pmt_hist['fee_paid'])

# # Don't care about differences less than a cent _______________________________
# pmt_hist['unaccounted_rec_pmt_money'] = np.where(
#     pmt_hist['unaccounted_rec_pmt_money'] < 0.01, 0,
#     pmt_hist['unaccounted_rec_pmt_money'])

# # These should probably be Received_amt 0 because there is no received_d
# pmt_hist[(pmt_hist['unaccounted_rec_pmt_money'] > 0) & (pmt_hist['PERIOD_END_LSTAT'] != 'Fully Paid')]